<html>
<head>
  <title>Al Scape</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>

<body>
  <div class="myName">
    <h1>Alexander Martin</h1>
  </div>
  <script type="text/javascript">
    docs = document.getElementById('oneThird')
  </script>
  <div class="main">
    <div id="oneThird">
      <h1 class="title"><a class="linkStyle" href="/designer">--Web Designer--</a></h1>
      <p>somethings that i have done</p>
      <p>some other things</p>
    </div>
    <div id="twoThird">
      <h1 class="title"><a class="linkStyle" href="/coder">--Coder--</a></h1>
    </div>
    <div id="threeThird">
      <h1 class="title"><a href="/exploration" class="linkStyle">--Explorer--</a></h1>
    </div>
    <div id="four">
      <h1 class="title"> <a href="/gammer" class="linkStyle">--Gamming Stategist--</a></h1>
    </div>
  </div>

  <%= yield %>
</body>
</html>
