/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body{
   background: #121E19;
 }
 .myName{
   color: white;
   background: violet;
 }
 .linkStyle{
   background: blue;
   opacity: 0.4;
 }
 
.main{
  text-align: center;
  padding-left: 12px;
}
.title{
  color: white;
  padding-top: 130px;
  font-family: "Palatino"
}
#oneThird{
  float: left;
  width: 700px;
  background: red;
  height: 85%;
  border: 3px solid black;
  background-image: url("webdesign.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#twoThird{
  float: left;
  width: 700px;
  background: yellow;
  height: 85%;
  border: 3px solid black;
  background-image: url("some_code.jpg");
  background-position: center;
}
#threeThird{
  float: left;
  background: #121E19;
  width: 700px;
  height: 85%;
  border: 3px solid black;
  background-image: url("muizey.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
#four{
  float: left;
  background: green;
  width: 700px;
  height: 85%;
  border: 3px solid black;
  background-image: url("setup-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.bottom-tab{
  color: white;
  height: 5%;
  background: black;
  width: 4000px;
}
